{% load media_load %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{settings.APPLICATION}} {{ settings.VERSION }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	{% loadExtStyle "ext-all.css" %}
	{% loadExtStyle "xtheme-gray.css" %}
	{% loadUxStyle "Ext.ux.grid.RowActions.css" %}
	{% loadStyle "default.css" %}
	{% loadStyle "icons.css" %}
	{% addExt %}
	{% loadExtUx "Ext.ux.grid.RowActions" %}
	{% loadExtUx "Ext.ux.TabCloseMenu" %}
	{% loadExtUx "Ext.ux.form.DateFieldTrigger" %}
	{% loadExtUx "Ext.ux.RefreshToolbar" %}
	<!--  {% loadExtUx "statusbar/StatusBar" %} -->
	{% loadScript "js/datefix.js" %}
	{% loadScript "js/application.js" %}
	{% loadScript "js/main.js" %}
	{% loadScript "js/stores.js" %}
	{% loadScript "js/syncmanager.js" %}
	{% loadScript "js/menu.js" %}
	<script type="text/javascript">
		Ext.BLANK_IMAGE_URL = "{{ STATIC_URL }}{{settings.EXT_LOCATION}}resources/images/default/s.gif";

		Ext.onReady(function(){
			Ext.QuickTips.init();
		    var viewport = new Ext.Viewport({
		        layout:'fit',        
		        items: containerPanel
		    });
			loadPage('tax/upcoming', 'upcoming-panel');
			loadStore(subCategoryStore);		    
		});
	</script>
</head>
<body>
<div id="body_content"></div>
<div id="placeholder" style="width:350px;height:200px"></div>
</body>
</html>