{% extends "mobile/index.html" %}
<!DOCTYPE HTML>
<html>
<head>
{% block header %}
{{ block.super }} 
{% endblock %}
<body>
{% block content %}
<div data-role="page" id="swipemenu_expenses">
	<div data-role="header" data-theme="e">
        <a href="{% url mobile:expenses %}" data-icon="back" data-theme="b">Volver</a>
        <h1>Listado</h1>
        <a href="{% url mobile:expenses_add %}" data-icon="add" data-theme="f">Nuevo</a>
	</div><!-- /header -->

	<div data-role="content" data-theme="a" data-return="{% url mobile:expenses_list %}">
        <ul data-role="listview">
            {% regroup list by date as exp_group %}
            {% for group in exp_group  %}
                <li data-role="list-divider">{% ifequal today group.grouper %}Hoy{% else %}{{group.grouper}}{% endifequal %}</li>
                {% for item in group.list %}
                <li swipe-options='{"buttons": [{"style": "r", "value": "Borrar", "href": "javascript:confirmSingleAction(\"{% url expenses_delete %}\",\"{{item.id}}\")"},{"style": "e", "value": "Editar", "href": "{% url mobile:expenses_edit item.id %}"}]}'>
                    <div>
                        <h3>{{item.text}}</h3>            
                        <p>{{item.paymentType.name}}</p>
                        <span class="ui-li-aside">${{item.amount|floatformat:2}}</span>
                    </div>
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
	</div><!-- /content -->

	<div data-role="footer" data-theme="c" class="ui-bar"> 
		<a href="{% url mobile:expenses_list %}" data-icon="refresh" data-theme="a" data-cache="false">Actualizar</a> 
	</div> 
	
</div><!-- /page -->
{% endblock %}
</body>
</html>
