{% extends "mobile/index.html" %}
<!DOCTYPE HTML>
<html>
<head>
{% block header %}
{{ block.super }} 
{% endblock %}
<body>
{% block content %}
<div data-role="page">
	<div data-role="header" data-theme="f">
        <a href="{% url mobile:home %}" data-icon="home" data-iconpos="notext"></a>
        <h1>Gastos</h1>
	</div><!-- /header -->

	<div data-role="content" id="main_nav">
        <div class="ui-grid-b">
            <a href="{% url mobile:expenses_add %}" class="menu-element additem" data-role="button" data-inline="true">
                Nuevo
            </a>
            <a href="{% url mobile:expenses_list %}" class="menu-element listitem" data-role="button" data-inline="true">
                Listado
            </a>            
        </div>
	</div><!-- /content -->
    
</div><!-- /page -->
{% endblock %}
</body>
</html>


