{% extends "mobile/index.html" %}
<!DOCTYPE HTML>
<html>
<head>
{% block header %}
{{ block.super }} 
{% endblock %}
<body>
{% block content %}
<div data-role="page" id="swipemenu">
	<div data-role="header" data-theme="e">
        <a href="{% url mobile:expenses %}" data-icon="back" data-theme="b">Volver</a>
        <h1>Listado</h1>
        <a href="{% url mobile:expenses_list %}" data-icon="refresh" data-theme="a" data-cache="false">Actualizar</a>
	</div><!-- /header -->

	<div data-role="content" data-theme="a">	
        <ul data-role="listview">
            {% regroup list by date as exp_group %}
            {% for group in exp_group  %}
                <li data-role="list-divider">{% ifequal today group.grouper %}Hoy{% else %}{{group.grouper}}{% endifequal %}</li>
                {% for item in group.list %}
                <li>
                    <div>
                        <h3>{{item.text}}</h3>            
                        <p>{{item.paymentType.name}}, ${{item.amount|floatformat:2}}</p>
                    </div>
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
	</div><!-- /content -->
</div><!-- /page -->
{% endblock %}
</body>
</html>
