{% load media_load %}
<!DOCTYPE HTML>
<html>
<head>
{% block header %}
<title>{{settings.APPLICATION}} Mobile</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% loadMedia "mobile/jquery.mobile-1.0.min.css" %}
{% loadMedia "mobile/mobile.extra.css" %}
{% loadMedia "mobile/jquery.mobile.datebox.min.css" %}
{% loadMedia "mobile/jquery.mobile.simpledialog.min.css" %}
{% loadMedia "mobile/swipe.css" %}
{% loadMedia "mobile/default.css" %}
{% loadScript "js/dutils.js" %}
{% loadScript "mobile/jquery-1.7.1.min.js" %}
{% loadScript "mobile/functions.js" %}
{% loadScript "mobile/remote.js" %}
{% loadScript "mobile/swipe.list.js" %}
{% loadScript "mobile/application.js" %}
{% loadScript "mobile/jquery.mobile-1.0.min.js" %}
{% loadScript "mobile/jquery.mobile.datebox.min.js" %}
{% loadScript "mobile/jquery.mobile.datebox.i8n.es.js" %}
{% loadScript "mobile/jquery.mobile.simpledialog.min.js" %}
<script type="text/javascript">
    dutils.conf.urls.payment_type_list = "{% url payment_type_list %}";
    dutils.conf.urls.subcategory_list = "{% url subcategory_list %}";
</script>
{% endblock %}
</head>
<body>
{% block content %}
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Cash for Mobile</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview" data-inset="true" >
			<li>
                <a href="#expenses">Gastos</a> 
			</li>
			<li>
				<a href="{% url mobile:loans %}">Préstamos</a> 
			</li>
		</ul>
	</div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="expenses">
	<div data-role="header" data-theme="f">
        <a href="{% url mobile:home %}" data-icon="home" data-iconpos="notext"></a>
        <h1>Gastos</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview" data-inset="true" >
			<li data-role="list-divider">Gastos</li>
			<li>
                <a href="{% url mobile:expenses_add %}">Nuevo</a>
			</li>
			<li>
				<a href="{% url mobile:expenses_list %}">Listado</a>
			</li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->

{% endblock %}
</body>
</html>
