{% extends "mobile/index.html" %}
<!DOCTYPE HTML>
<html>
<head>
{% block header %}
{{ block.super }} 
{% endblock %}
<body>
{% block content %}
<div data-role="page" id="swipemenu_payments">
	<div data-role="header" data-theme="e">
        <a href="{% url mobile:loans_list loan.person.id %}" data-icon="back" data-theme="b">Volver</a>
        <h1>Pagos - {{loan.person.name}}</h1>
        <a href="{% url mobile:loans %}" data-icon="add" data-iconpos="notext" data-theme="f">Nuevo Pago</a>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview">
			<li data-role="list-divider">{{loan.reason}}</li>
			{% for payment in loan.payment_set.all %}
			<li>
				<h3>{{payment.date}} - ${{payment.amount|floatformat:2}}</h3>
			</li>
			{% empty %}
			<li>Sin pagos registrados</li>
			{% endfor %}
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
{% endblock %}
</body>
</html>


